@charset "UTF-8";
/* CSS Document */

body{
	
	font-family: "nunito";	
	margin: auto;
}


	
	
/* smallbox class is for the tetris grid*/

.flex-smallbox {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: DodgerBlue;
}

.flex-smallbox>div {
  background-color: #f1f1f1;
  color: white;
  width: 50px;
  height: 50px;
  padding:15px;
  margin:10px;
  
}



.flex-container-funthings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
	width: 500px;
	margin: auto;
	padding: auto;
  background-color: gray;
}

.flex-container-funthings>div {
  background-color: #f1f1f1;
  color: white;
  width: 100px;
  height: 100px;
  padding:5px;
  margin:5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  color: black;
}



.discription {
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  color: black;
}
	



.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media screen and (max-width: 500px) {
  .flex-container-funthings {   
      flex-wrap: nowrap;
	  flex-direction: column;
	  width: 150px;
	  height: 1000px;
	  margin: auto;
	  padding: 30px;
  }
	
	.flex-smallbox {
		
	  flex-direction: column;
	height: 1000px;
	  margin: 5px;
	  padding: 10px;
	}
	
	.flex-smallbox>div {
  background-color: #f1f1f1;

  color: white;
  width: 75px;
  height: 75px;
  padding:15px;
  margin:10px;
  
  }
	
}